.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}
  
@keyframes skeleton-loading {
    0% {
        background-color: var(--skeleton-dark);
    }
    100% {
        background-color: var(--skeleton-light);
    }
}
